.recetas {
    background: #e5e5e5;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 0) { /*celulares*/
    .recetas {
        padding: 5rem 0 0 1rem;
    }
}
@media screen and (min-width: 768px) { /*tablet*/
    .recetas {
        padding: 5rem 0 0 2.5rem;
    }
}
@media screen and (min-width: 922px) { /*desktop*/
    .recetas {
        padding: 5rem 0 0 5rem;
    }
}